@charset "utf-8";

/* 웹&앱PJ 상세페이지 CSS - detail.css */

.dt_comp {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    opacity: 0;
    transition: .4s ease;
}

/* 디테일영역 공통설정 */
.detailbx {
    position: relative;
    background-color: #f6f5e8;
    width: 100%;
    min-height: 100vh;
    /* 네비게이션 영역만큼 위로 밀어주기 */
    padding-top: 40px;
}
/****************** detail_section1 ******************/

.dtsec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* 스와이퍼 커스텀 */
.swiper.mySwiper {
    width: 600px;
    aspect-ratio: 1/1.3;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efe1;
}
.swiper-slide img {
    /* display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; */
    position: relative;
    display: block;
    width: 80%;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    object-fit: cover;
}
.swiper-slide:nth-child(2) img {
    width: 100%;
    height: 100%;
}
.swiper-slide:nth-child(3) img {
    width: 100%;
    height: 100%;
}
/* 스크롤바 색상 커스텀 */
.swiper-scrollbar-drag {
    background: var(--swiper-scrollbar-drag-bg-color,#252525) !important;
}
.swiper-scrollbar {
    background: var(--swiper-scrollbar-bg-color,#ebeade73) !important ;
}



/* 1. 제품정보 영역 */
.detail_info {
    /* 등분할 */
    flex: 1;
    margin: 0 0 0 100px;
    padding: 0 30px;
    width: 100%;
    max-width: 400px;
}
.dt_tit {
    color: #333;
    border-bottom: 2px solid #4a4a4a;
    padding-bottom: 30px;
}
.dt_tit > small {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #888888;
    margin-bottom: 20px;
}
.dt_tit > h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.dt_tit > span {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
    color: #252525;
}
.dt_subtit {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.dt_subtit li {
    font-size: 1.4rem;
    font-weight: 500;
}
.dt_subtit li.on a {
    font-weight: 500;
    color: #333;
}
.dt_subtit li a {
    /* 글자설정 */
    color: #888888;
}
.dt_subtit > .separator {
    border-right: 1px solid #ccc;
    height: 10px;
}
.dt_desc {
    position: relative;
    max-height: 300px;
    overflow-y: auto;
}
.dt_desc > p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

/* 2. 이미지 영역(대표이미지 스와이퍼) */
.detail_img {
    /* 등분할 */
    flex: 1;
    margin: 0 50px;
}



/* 3. 구매 인터페이스 영역 */
.detail_buy {
    /* 등분할 */
    flex: 1;
    margin: 0 100px 0 0;
    padding: 0 30px;
    width: 100%;
    max-width: 400px;
}
.buyarea {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}
.buyarea > tbody {
    display: inline-table;
    width: 100%;
}
.quantity {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
}
.quantity a {
    display: inline-block;
}
/* 수량기입박스 */
#quantity {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 25px;
    min-height: 40px;
    line-height: 25px;
    text-align: center;
    background: transparent;
    color: #333;
    font-size: 1.5rem;
}
/* 인풋박스 공통설정 */
input {
    outline: none;
    word-break: keep-all;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.minus {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    width: 30px;
    background-image: url(../images/icon_subtract.svg);
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.plus {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    width: 30px;
    background-image: url(../images/icon_add.svg);
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.totalprice {
    margin: 30px 0 0;
    padding: 0 0 15px;
    text-align: right;
}
.total > strong {
    font-size: 2rem;
    color: #333;
}

/* 버튼 공통 */
.dtbtn {
    display: flex;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.dtbtn > a {
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    /* background-color: #ebeade; */
    transition: .3s ease-out;
}
.dtbtn > a:hover {
    color: #fff;
    background-color: #333;

}
.crtbtn > a:first-child {
    border-right: 1px solid #ccc;
}
.dtbtn.nPay > a {
    width: 100%;
}
.dtbtn.nPay > a img {
    vertical-align: sub;
}
.dtbtn.nPay > a:hover img {
    filter: brightness(15);
}




.dtsec2 {
    position: relative;
    height: 500px;
    background-color: #fffef2;
}